**DBMS**

In [ ]:
import mysql.connector

Part a

In [ ]:
dt = mysql.connector.connect(host="localhost",user="root", password="Niharika")
cursor = dt.cursor()
cursor.execute("CREATE DATABASE IISERB")
print("IISERB database created")

IISERB database created

In [ ]:
def createTable():
    dt = mysql.connector.connect(host="localhost", user="root", password="Gopikasr", database="IISERB")
    cursor = dt.cursor()
    table_new = "CREATE TABLE Professors(Name VARCHAR(200), id_no int, Department VARCHAR(100));"
    cursor.execute(table_new)
    print("Professors database is created")
    return 
createTable()

Professors database is created

In [ ]:
dtbase = mysql.connector.connect(host="localhost", user="root", password="Gopikasr", database="IISERB")
cursor_sql = dtbase.cursor()
cursor_sql.execute("DROP TABLES Professors ")
print("Professors Table is deleted from the Database")

createTable()

Professors Table is deleted from the Database
Professors database is created

In [ ]:
cursor_sql.execute("ALTER TABLE Professors ADD Course VARCHAR(50)")
print("A new entry has been added in the Table named Professors named Course")

A new entry has been added in the Table named Professors named Course

Part b

In [ ]:
query = "INSERT INTO Professors (Name, id_no, Department) VALUES (%s, %s, %s)"
val = ("Thomas Salvatore", "20654", "Physics")
cursor_sql.execute(query, val)
dtbase.commit()
print("Added the first entry")

val_1 = ("Leah Mary", "18764", "Chemical Engineering")
cursor_sql.execute(query, val_1)
dtbase.commit()
print("Added the second entry")

val_2 = ("Jon Snow", "17458", "Biology")
cursor_sql.execute(query, val_2)
dtbase.commit()
print("Added the third entry")


query_second = "UPDATE Professors SET Department = 'Biology' WHERE Department = 'Physics'"
cursor_sql.execute(query_second)
dtbase.commit()
print("Updated")


cursor_sql.execute("SELECT * FROM Professors")
result = cursor_sql.fetchall()
for a in result:
    print(a)

Added the first entry
Added the second entry
Added the third entry
Updated
('Thomas Salvatore', 20654, 'Biology', None)
('Leah Mary', 18764, 'Chemical Engineering', None)
('Jon Snow', 17458, 'Biology', None)

Part c

In [ ]:
cursor_sql.execute("ALTER TABLE Professors CHANGE id_no id_no int NOT NULL")
print("We have now inserted Not Null")

We have now inserted Not Null

In [ ]:
val_4 = ("John Smith", "NULL", "Chemistry")
cursor_sql.execute(query, val_4)
dtbase.commit()
print(" NOT able to do Deletion now- error")

DatabaseError: 1366 (HY000): Incorrect integer value: 'NULL' for column 'id_no' at row 1

In [ ]:
cursor_sql.execute("ALTER TABLE Professors CHANGE id_no id_no int PRIMARY KEY")
print("We have now inserted the Primary Key")

value_4 = ("John Smith", "NULL", "Chemistry")
cursor_sql.execute(query, val_4)
dtbase.commit()

We have now inserted the Primary Key

DatabaseError: 1366 (HY000): Incorrect integer value: 'NULL' for column 'id_no' at row 1

In [ ]:
new_table = "CREATE TABLE Building(Name_building VARCHAR(150), id_no int PRIMARY KEY);"

cursor_sql.execute(new_table)
cursor_sql.execute("ALTER TABLE Building ADD FOREIGN KEY (id_no) REFERENCES Professors(id_no) ON DELETE CASCADE ON UPDATE CASCADE")
print("The table named Building is created in the database")


query_third = "INSERT INTO Building(Name_building, id_no) VALUES (%s, %s)"
val_4 = ("Elements", "34780")
cursor_sql.execute(query_third, val_4)
dtbase.commit()
print("New entry inserted in the Building Table")

val_5 = ("Main Building", "20457")
cursor_sql.execute(query_third, val_5)
dtbase.commit()
print("New entry has been inserted in Building Table")


val_6 = ("Lumen", "23220")
cursor_sql.execute(query_third, val_6)
dtbase.commit()
print("New entry inserted in Professors Table")

The table named Building is created in the database

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`iiserb`.`building`, CONSTRAINT `building_ibfk_1` FOREIGN KEY (`id_no`) REFERENCES `professors` (`id_no`) ON DELETE CASCADE ON UPDATE CASCADE)

Part d

In [ ]:
def CreateUser(cursor, userName, password, querynum=0, updatenum=0, connection_num=0):
    try:
        sqlCreateUser = "CREATE USER '%s'@'localhost' IDENTIFIED BY '@s';"%(userName, password)
        cursor_sql.execute(sqlCreateUser)
    except Exception as Ex:
        print("Error while creating MySQL User: %s"%(Ex))

CreateUser(cursor_sql, "User_1", "0000")
CreateUser(cursor_sql, "User_2", "7400")

List_Users = "select host, user from mysql.user"
cursor_sql.execute(List_Users)
userList = cursor_sql.fetchall()

print("List of the Users -")
for user in userList:
    print(user)

Error while creating MySQL User: not all arguments converted during string formatting
Error while creating MySQL User: not all arguments converted during string formatting
List of the Users -
('localhost', 'mysql.infoschema')
('localhost', 'mysql.session')
('localhost', 'mysql.sys')
('localhost', 'root')